@page "/customer"
@using System.Security.Claims
@inject IUserService userService
@inject IHomeService homeService
@inject ISubscriptionService subscriptionService

<div class="card border">

@if (subscription != null)
{
	<div class="card-header border-bottom">
    	<!-- Card START -->
    	<div class="card">
    		<div class="row g-0">
    			<div class="col-md-3">
    				<img src="@subscription.Course.ImageUrl" class="rounded-2" alt="Card image">
    			</div>
    			<div class="col-md-9">
    				<div class="card-body">
    					<!-- Title -->
    					<h3 class="card-title">
    						<a href="#">@subscription.Course.Title</a>
    					</h3>
    				</div>
    			</div>
    		</div>
    	</div>
    	<!-- Card END -->
    </div>
}

<div class="card-body">

<!-- Accordion START -->
<div class="accordion accordion-icon accordion-bg-light" id="accordionExample2">
	<!-- Item -->
	@if (subscription != null)
	{
		@foreach (var blog in subscription.Course.Blog)
        	{
        		<div class="accordion-item mb-3">
			        <h6 class="accordion-header font-base" id="heading-1-@blog.Id">
				        <a class="accordion-button fw-bold rounded collapsed d-block pe-4" href="#collapse-1-@blog.Id" data-bs-toggle="collapse" data-bs-target="#collapse-1-@blog.Id" aria-expanded="true" aria-controls="collapse-1-@blog.Id">
					        <span class="mb-0">@blog.Title</span>
					        <span class="small d-block mt-1">(@blog.Lessons.Count видеоурок (ов))</span>
				        </a>
			        </h6>
			        <div id="collapse-1-@blog.Id" class="accordion-collapse collapse show" aria-labelledby="heading-1-@blog.Id" data-bs-parent="#accordionExample2">
				        <div class="accordion-body mt-3">
					        <div class="vstack gap-3">
						        @if (blog.Lessons.Count > 0)
						        {
							        @foreach (var lesson in blog.Lessons)
							        {
								        <!-- Course lecture -->
								        <div>
									        <div class="d-flex justify-content-between align-items-center mb-2">
										        <div class="position-relative d-flex align-items-center">
											        <a href="/lesson/@lesson.Alias" class="btn btn-success btn-round btn-sm mb-0 stretched-link position-static">
												        <i class="fas fa-play me-0"></i>
											        </a>
											        <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-150px w-sm-200px">@lesson.Title</span>
										        </div>
									        </div>

									        <!-- Add note button -->
									        <a class="btn btn-xs btn-warning mb-0 me-2" data-bs-toggle="collapse" href="#addnote-1" role="button" aria-expanded="false" aria-controls="addnote-1">
										        <i class="bi fa-fw bi-pencil-square me-2"></i>Описание
									        </a>
											@if (lesson.Materials.Count > 0)
											{
												<a class="btn btn-xs btn-dark mb-0 me-2" data-bs-toggle="collapse" href="#addnote-1-@lesson.Id" role="button" aria-expanded="false" aria-controls="addnote-1-@lesson.Id">Материал</a>
											}
									        <!-- Notes START -->
									        <div class="collapse" id="addnote-1">
										        <div class="card card-body p-0 mt-2">

											        <!-- Note item -->
											        <div class="d-flex justify-content-between bg-light rounded-2 p-2 mb-2">
												        <!-- Content -->
												        <div class="d-flex align-items-center">
													        <h6 class="d-inline-block text-truncate w-100px w-sm-200px mb-0 fw-light">@lesson.Description</h6>
												        </div>
											        </div>

										        </div>
									        </div>
									        <!-- Notes END -->
									        
									        <hr class="mb-0">
									        
									        <!-- Materials START -->
									        <div class="collapse" id="addnote-1-@lesson.Id">
										        <div class="card card-body p-0 mt-2">
													@if (lesson.Materials.Count > 0)
													{
														@foreach (var material in lesson.Materials)
														{
															<!-- Note item -->
															<div class="d-flex justify-content-between bg-light rounded-2 p-2 mb-2">
																<!-- Content -->
																<div class="d-flex align-items-center">
																	<h6 class="d-inline-block text-truncate w-100px w-sm-200px mb-0 fw-light">@material.Title</h6>
																	<a href="@material.File" download target="_blank"><span><i class="bi fa-fw bi-download me-2"></i></span></a>
																</div>
															</div>
														}
													}
										        </div>
									        </div>
                                           <!-- Materials END -->
								        </div>
							        }
						        }
					        </div>
				        </div>
			        </div>
		        </div>
        	}
	}
	
</div>
<!-- Accordion END -->
</div>
</div>


@code {
	[CascadingParameter]
	private Task<AuthenticationState> AuthenticationStateTask { get; set; }
	ApplicationUser? user;
	string userId;
	Subscription? subscription;
	
	protected override async Task OnInitializedAsync()
	{
		var authenticationState = await AuthenticationStateTask;
		userId = authenticationState.User.FindFirstValue(ClaimTypes.NameIdentifier);
		subscription = await subscriptionService.GetSubscriptionByUserId(userId);
	}

}
